/* * {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
} */
body {
  margin: 0;
  padding: 0;
}
.container {
  min-width: 360px;
  /* margin: 0 auto; */
  text-align: center;
  margin-top: 100px;
  /* margin-inline: 50px; */
}
main h1 {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  margin-bottom: 30px;
}
.input {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.input input[type="text"] {
  max-width: 600px;
  padding: 10px;
}
.copy {
  max-width: 60px;
}
.output {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  min-width: 360px;
  /* margin-inline: 250px; */
}
.output p {
  font-size: 30px;
  text-align: center;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer {
  min-width: 330px;
  flex: 1;
  margin-top: 150px;
}
footer p {
  font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  text-align: center;
}
